certifi==2021.5.30
# click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama==0.4.4
cycler==0.10.0
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877477759/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
matplotlib==3.4.2
numpy==1.21.0
pandas==1.3.0
Pillow==8.3.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
threadpoolctl==2.2.0
Werkzeug @ file:///home/ktietz/src/ci/flask_1611932660458/work
wincertstore==0.2
zipp @ file:///tmp/build/80754af9/zipp_1625570634446/work
