<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Predict your loan status</h1>
    
    <form action="/" method="post">
        <p>
            Enter your interest rate
        </p>
        <input type="text" name="int_rate" placeholder="Interest rate"><br>
        <p>
            Enter your grade
        </p>
        <input type="text" name="grade" placeholder="Grade"><br><br>
        <input type="submit">
    </form>
    <br>
    {{output}}
</body>
</html>